.project {

}

.header {
	background-color: #41A4F5;
	padding: 3rem 1.5rem;
	color: #fff;
	display: flex;
	justify-content: center;

}

.header h2 {
	font-weight: 700;
	font-size: 2rem;
}

.header p {
	margin-top: .5rem;
	margin-bottom: 0;
	font-size: 1.25rem;
	max-width: 900px;
}

.logo {
	background: rgba(0, 0, 0, 0.2);
	padding: 0.5rem 1.2rem;
	border-radius: 4px;
	font-size: 1.8rem;
	font-weight: 600;
}

.cardsBlock {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	padding: 3rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.6;
	color: #58677c;
}
.img {
text-align: center;
}
.img img{
	width: 100%;
	object-fit: cover;
	margin-bottom: 3rem
}

.btn a {
	width: 100%;
	margin-bottom: 1.5rem;
	display: inline-block;
	padding: .375rem 1rem;
	color: #fff;
	background-color: #41A4F5;
	border-color: #41A4F5;
	text-align: center;
	vertical-align: middle;
	border-radius: .25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #1d93f3;
	border-color: #118df2;
}

.code a{
	width: 100%;
	display: inline-block;
	padding: .375rem 1rem;
	color: #fff;
	background-color: #58677c;
	border-color: #58677c;
	text-align: center;
	vertical-align: middle;
	border-radius: .25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.code a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

@media (max-width: 1200px) {
	.header p {
		max-width: 700px;
	}
}

@media (max-width: 1086px) {
	.header p {
		max-width: 500px;
	}
}

@media (max-width: 910px) {
	.header p {
		max-width: 420px;
	}
}

@media (max-width: 820px) {
	.cardsBlock {
		width: 100%;
		flex-direction: column;
		text-align: center;
	}

	.logo {
		width: 550px;
		margin-top: 1.2rem;
		padding: 0.5rem 0;
	}
}

@media (max-width: 595px) {
	.cardsBlock {
		width: 100%;
	}

	.logo {
		width: 100%;
		margin-top: 1.2rem;
		padding: 0.5rem 0;
	}
}