.slogan {
	min-height: 250px;
	display: flex;
	justify-content: center;
	background-color: #ffe98c;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	border: 1px solid;
}