.main {
	height: 100vh;
	background-color: #f6afff;
	display: flex;
	justify-content: center;
}

.container {
	border: 1px solid;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title {
	display: flex;
	flex-direction: column;
}

.photo {
	background-color: #8c9090;
	width: 300px;
	height: 400px;
}