.skill {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	width: 340px;
	margin-left: .75rem;
	margin-right: .75rem;
	padding: 4rem 1.8rem 1.5rem 1.5rem;
}

.skill h4 {
	font-size: 1.25rem;
	font-weight: 600;
	text-align: center;
}

.icon {
	background: #41A4F5;
	width: 80px;
	height: 80px;
	padding-top: 1.25rem;
	top: -40px;
	left: 50%;
	margin-left: -40px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
}

.icon img {
	margin: auto 0;
}

.items {
	color: #58677c;
	padding-left: 0;
	list-style: none;
}

.items li {
	margin-bottom: .5rem;
	margin-left: 1rem;
}

.items i {
	margin-right: .2rem;
}

@media (max-width: 1200px) {
	.skill {
		width: 288px;
		margin-left: .8rem;
		margin-right: .8rem;
		padding: 3.8rem 1.6rem 1rem 1.3rem;
	}
}

@media (max-width: 994px) {
	.skill {
		width: 75%;
		margin-bottom: 4rem;
		padding-bottom: 2rem;
	}

	.skill:last-child {
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 460px) {
	.skill {
		width: 95%;
		margin-bottom: 4rem;
		padding-bottom: 1.5rem;
	}

	.skill:last-child {
		margin-bottom: 1.5rem;
	}
}