.header {
	height: 100px;
	background-color: #acfffa;
	display: flex;
	justify-content: center;
}

.container {
	width: 80%;
	border: 1px solid;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}