.projectsBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 15px 3rem 15px;
	margin-right: auto;
	margin-left: auto;
}

.projectsBar h3 {
	font-size: 1.75rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
}

.cardsBlock {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 3rem;
	margin-bottom: 3rem
}

.btn a {
	display: inline-block;
	padding: .375rem 1rem;
	color: #fff;
	background-color: #41A4F5;
	border-color: #41A4F5;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	border-radius: .25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #1d93f3;
	border-color: #118df2;
}

@media (min-width: 576px) {
	.projectsBar {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.projectsBar {
		max-width: 730px;
	}
}

@media (min-width: 992px) {
	.projectsBar {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.projectsBar {
		max-width: 1160px;
	}
}

@media (max-width: 994px) {
	.cardsBlock {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-top: 3rem;
	}
}