.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 15px;
	margin-right: auto;
	margin-left: auto;
}

.skills h3 {
	font-size: 1.75rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
}

.description {
	color: #58677c;
	text-align: center;
	margin-bottom: 2.5rem;
	max-width: 780px;
}

.description a:hover {
	color: #0c7fde;
	text-decoration: underline;
}

.cardsBlock {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 3rem;
}

@media (min-width: 576px) {
	.skills {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.skills {
		max-width: 730px;
	}
}

@media (min-width: 992px) {
	.skills {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.skills {
		max-width: 1160px;
	}
}

@media (max-width: 994px) {
	.cardsBlock {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-top: 3rem;
	}
}