.footer {
	background: #434E5E;
	color: #f5f6f8;
	text-align: center;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.footer a {
	color: #f5f6f8;
}

.footer a:hover {
	color: #9e9fa0;
	text-decoration: underline;
}
