.desktopNav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.socialItems a {
	padding: 10px;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
}

.socialItems i {
	text-align: center;
	width: 1.1rem;
}

.socialItems a:not(:last-child) {
	margin-right: .7rem;
}

.socialItems a:hover {
	background: rgba(0, 0, 0, 0.2);
}

.navItems {
	font-size: .875rem;
	width: 400px;
	display: flex;
	justify-content: space-around;
	margin-top: auto;
}

.navItems a, .mobItems a {
	color: rgba(255, 255, 255, 0.5);
}

.navItems a:hover, .mobItems a:hover {
	color: rgba(255, 255, 255, 0.75);
}

.navItems a.active, .mobItems a.active {
	color: #fff;
}

.mobNavIcon {
	transition: all 0.3s ease-in-out;
}

.mobNavIcon i {
	vertical-align: middle;
	cursor: pointer;
}

.rotate {
	transform: rotate(90deg);
}

.mobItems {
	padding-left: 1rem;
	font-size: .875rem;
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 1.2rem;
}

.mobItems a {
	display: block;
	padding-top: .5rem;
	padding-bottom: .5rem;
}


@media (max-width: 767px) {
	.navItems {
		display: none;
	}
}

@media (min-width: 768px) {
	.mobNavIcon {
		display: none;
	}

	.mobItems {
		display: none;
	}
}