.nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;

}

.navLinks {
	font-size: .875rem;
	width: 400px;
	display: flex;
	justify-content: space-around;
	color: rgba(255,255,255,0.5);
	margin-top: auto;
}

.navLinks a {
}

.navLinks a:hover, .mob a:hover {
color: rgba(255,255,255,0.75);
}

.navLinks a.active, .mob a.active {
	color: #fff;
}

.socials {
}

.socials a {
	padding: 10px;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
}

.socials i {
	text-align: center;
	width: 1.1rem;
}

.socials a:not(:last-child) {
	margin-right: .7rem;
}

.socials a:hover {
	background: rgba(0, 0, 0, 0.2);
}

.navMob i {
	vertical-align: middle;
	cursor: pointer;
}

.mob {
	padding-left: 1rem;
	font-size: .875rem;
	color: rgba(255,255,255,0.5);
	padding-bottom: 1.2rem;
}

.mob a{
	display: block;
	padding-top: .5rem;
	padding-bottom: .5rem;
}


@media (max-width: 767px) {
	.navLinks {
		display: none;
	}
}

@media (min-width: 768px) {
	.navMob {
		display: none;
	}
	.mob {
		display: none;
	}
}